@main("Showing nearby events") {
<div id="nearByEventsId" class="container-fluid" ng-controller="nearByEventsCtrl">
<div class="row-fluid">
  <div id="leftColumn" class="span8">
  <!-- 
  	<h2>Nearby events </h2>
    -->
      <div id="panel">
        <input id="searchBox" type="text" placeholder="Search Box">
      </div>
      <div id="map-canvas" style="width:900px; height:700px"></div>
  </div>
  <div id="rightColumn" class="span3">
      <div id="eventSearchSpinner" class="spinner">
        <img src="/assets/images/ajax-loader.gif" alt="" />
      </div>
      <ul>
        <li ng-repeat="event in nearByEvents">
          <span>{{event.name}}</span>
          <div>
            <img class="eventImage" src="{{event.imageLarge.source}}" alt="" />
          </div>
        </li>
      </ul>
  </div>
</div>
</div>
}
