@main("Showing nearby events") {
<div id="nearByEventsId" class="container-fluid" ng-controller="nearByEventsCtrl">
<div class="row-fluid">
  <div id="leftColumn" class="span8">
      <div id="panel">
        <input id="searchBox" type="text" placeholder="Search Place">
      </div>
      <div id="map-canvas" style="width: 100%; height: 700px"></div>
  </div>
  <div id="rightColumn" class="well span4">
      <div id="eventSearchSpinner" class="spinner">
        <img src="/assets/images/ajax-loader.gif" alt="" />
      </div>
      <ul class="nav-list nav">
        <li class="eventItem" ng-repeat="event in nearByEvents" ng-mouseenter="openDetailedInfoWindow($event)">
          <span class="label label-info" ng-model="name">{{event.name}}</span>
          <div>
            <img class="eventImage" src="{{event.imageLarge.source}}" alt="" />
          </div>
        </li>
      </ul>
  </div>
</div>
</div>
}
