@main("Showing nearby events") {
<div id="nearByEventsId" ng-controller="nearByEventsCtrl">
  <div id="leftColumn">
  	<h2>Nearby events </h2>
      <div id="panel">
        <input id="searchBox" type="text" placeholder="Search Box">
      </div>
      <div id="map-canvas" style="width:780px; height:700px"></div>
  </div>
  <div id="rightColumn">
      [<a href="" ng-click="getNearByEvents()">get nearby events</a>]
      <div id="eventSearchSpinner" class="spinner">
        <img src="/assets/images/ajax-loader.gif" alt="" />
      </div>
      <ul>
        <li ng-repeat="event in nearByEvents">
          <span>{{event.name}}</span>
          <div>
            <img src="{{event.imageLarge.source}}" alt="" />
          </div>
        </li>
      </ul>
  </div>
</div>
}
